.button-create{
	position: absolute;
	bottom: 40px;
	right: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: $light-green;
	z-index: 1;
	user-select: none;

	animation-iteration-count: 3;
	animation-duration: 0.75s;
	animation-name: attract;
	animation-delay: 1.5s;


	.image{
		user-select: none;
		width: 16px;
		height: 16px;
	}
}

.button-create:active, .button-create:hover{
	user-select: none;
	cursor: pointer;
	box-shadow: 0px 0px 16px $light-green;
}

@keyframes attract {
	0% {
		box-shadow: 0px 0px 0px $light-green;
	}

	50% {
		box-shadow: 0px 0px 26px $light-green;
		transform: scale(1.1, 1.1);
	}

	0% {
		box-shadow: 0px 0px 0px $light-green;
	}
}