.option-with-slider{
	font-family: $main-font;
	width: 100%;
	height: 100%;
	border-top-right-radius: 25px;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;

	.message{
		color: white;
		text-align: center;
	}

	.slider{
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: space-between;
		width: 85%;
		font-size: 10px;

		input[type=range]{
			 -webkit-appearance: none;
			width: 70%;
			border-radius: 25px;
			background-color: white;
			border: 2px solid $light-green;
			// background: transparent;
		}

		input[type=range]::-webkit-slider-thumb {
			-webkit-appearance: none;
			width: 15px;
			height: 15px;
			border-radius: 25px;
			background-color: white;
			border: 1px solid $light-green;
		}

		input[type=range]:focus {
			outline: none; 
		}

		input[type=range]::-ms-track {
			width: 100%;
			cursor: pointer;

			/* Hides the slider so custom styles can be added */
			background: transparent; 
			border-color: transparent;
			color: transparent;
		}
	}

	.set{
		font-size: 16px;
		font-weight: bold;
		margin: 2px;
		text-align: center;
		width: 65%;
		border: 2px solid $light-green;
		background-color: white;
		border-radius: 25px;
	}

	.set:active{
		background-color: $light-green;
	}
}