.content-enter-active,
.content-leave-active {
  transition-duration: 0.25s;
  transition-property: opacity transform;
  transition-timing-function: ease-in-out;
}

.content-enter{
	opacity: 0;
}
.content-leave-active {
  opacity: 0;
}