.slide-down-enter-active,
.slide-down-leave-active {
  transition-duration: 0.25s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transform-origin: top;
}

.slide-down-enter{
    transform: scaleY(0);
}
.slide-down-leave-active {
  transform: scaleY(0);
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition-duration: 0.25s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transform-origin: bottom;
}

.slide-up-enter{
    transform: scaleY(0);
}
.slide-up-leave-active {
  transform: scaleY(0);
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition-duration: 0.25s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transform-origin: left;
}

.slide-left-enter{
    transform: scaleX(0);
}
.slide-left-leave-active {
  transform: scaleX(0);
}

.slide-right-enter-active,
.slide-right-leave-active {
  transition-duration: 0.25s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transform-origin: right;
}

.slide-right-enter{
    transform: scaleX(0);
}
.slide-right-leave-active {
  transform: scaleX(0);
}