@import './variables';

//transitions
@import './transitions/fade';
@import './transitions/slide';

//partials
@import './partials/buttons';
@import './partials/nav-bar';
@import './partials/button-create';
@import './partials/button-save';
@import './partials/create-options';
@import './partials/selected-panel';
@import './partials/option-with-slider';
@import './partials/home';
@import './partials/create';